/.project
/metadataalignment/.classpath
/metadataalignment/.project
/metadataalignment/.settings
/solrToCsv_adminapi/.classpath
/solrToCsv_adminapi/.project
/solrToCsv_adminapi/.settings
/solrToCsv_adminapi/.worksheet/bin
/solrToCsv_adminapi/.worksheet/src
/yucca-lib/.classpath
/yucca-lib/.project
/yucca-lib/.cache-main
/yucca-lib/.settings
